@model string

<div id="@("FilterPartial" + Model)">
    <p>
        <div class="container">
            <a class="btn btn-primary btn-block" data-toggle="collapse" href="@("#CollapseFilter" + Model)">@Model</a>
        </div>
    </p>
    <div class="collapse" id="@("CollapseFilter" + Model)">
        <div class="card">
            <div class="card-body">
                <select asp-items="@(new List<SelectListItem>() { new SelectListItem { Value = "Single", Text = "Single" }, new SelectListItem { Value = "Range", Text = "Range" } })" class="form-control" onchange="ChangeTextInputType(this, '@Model')"></select>
                <br />
                <div id="@("TextInputContainer" + Model)">
                    <input type="text" class="form-control FilterGroup" id="@("Filtering_" + @Model)" />
                </div>
                <hr />
                <input type="button" class="btn btn-danger form-control" value="Remove" onclick="RemoveFilter(@("FilterPartial" + Model))" />
            </div>
        </div>
    </div>
</div>